/*******************************/
/********* General CSS *********/
/*******************************/
html{
    scroll-behavior: smooth;
}
body {
    color: #757575;
    background:rgb(243, 240, 240);
    font-family: 'open sans', sans-serif;

   
}
::-webkit-scrollbar{
   display: none; 
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #454545;
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color:#fff;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #719a0a;
    outline: none;
    text-decoration: none;
}

.btn.custom-btn {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:#ffffff;
    border-color:#117a8b ;
    background:#117a8b;
    border: 2px solid #117a8b;
    border-radius: 5px;
    transition:.5s;
}

.btn.custom-btn-1{
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:white;
    background:#117a8b;
    border: 2px solid:fff;
    border-radius: 5px;
    transition:.5s;
}

div#btn-custom-btn{
    display: flex;
    justify-content:center;
}
div#btn-custom-btn #btn-custom-btn-1
{   margin-top: 70px;
    scroll-margin-block: 70px;

}
.btn.custom-btn:hover {
    color:#117a8b;
    background:transparent;
}
.btn.custom-btn-1:hover {
    color:rgb(19, 18, 18);
    background:rgba(0, 128, 0, 0.651);

    
}
.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background:#117a8b;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #719a0a;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
    margin: 0;
    color: #117a8b;
    font-size:30px;
    line-height: 0px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    transition: .5s;
    
}

.navbar .navbar-brand span {
    color: #719a0a;
}

.navbar .navbar-brand:hover {
    color: #117a8b;
}

.navbar .navbar-brand:hover span {
    color: #ffffff;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border:0.5px;
    border: radius 5px;
    background:#117a8b;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background:#117a8b !important;
    }
    
    .navbar .navbar-brand {
        color:#ffffff;
    }
     
     .navbar.nav-sticky .navbar-brand {
        color: #544c45;
    } 

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        font-family: 'Nunito', sans-serif;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #000000;
    }
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #218696;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color:#ffffff;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #218696 !important;
    }
    
    .navbar .navbar-brand {
        color:#ffffff;
    }
    
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        color: #ffffff;
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}

}
/*******************************/
/********** Hero CSS ***********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background: #ffffff;
}

.carousel .container-fluid {
    padding: 0;
}

.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel .carousel-img {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
}

.carousel .carousel-img::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.carousel .carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-text {
    position: absolute;
    max-width: 700px;
    height: calc(100vh - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.carousel .carousel-text h1 {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.carousel .carousel-text h1 span {
    color:#117a8b;
}

.carousel .carousel-text p {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 35px;
}

.carousel .carousel-btn .btn:last-child {
    margin-left: 10px;
    background: #719a0a;
    border-color: #719a0a;
}

.carousel .carousel-btn .btn:last-child:hover {
    color: #719a0a;
    background: transparent;
}

.carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@media (max-width: 991.98px) {
    .carousel,
    .carousel .carousel-item,
    .carousel .carousel-text {
        height: calc(100vh - 105px);
    }
    
    .carousel .carousel-text h1 {
        font-size:35px;
    }
    
    .carousel .carousel-text p {
        font-size: 16px;
    }
    
    .carousel .carousel-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel,
    .carousel .carousel-item,
    .carousel .carousel-text {
        height: calc(100vh - 70px);
    }
    
    .carousel .carousel-text h1 {
        font-size: 30px;
    }
    
    .carousel .carousel-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-text h1 {
        font-size: 25px;
    }
    
    .carousel .carousel-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
    }
}


/*******************************/
/******* Page Header CSS *******/
/*******************************/
.new-page-header{
    position: relative;
    margin-bottom: 15px;
    padding: 200px 0 90px 0;
    text-align:center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/metal-page-header.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .new-page-header-1{
    position: relative;
    margin-bottom: 15px;
    padding: 200px 0 90px 0;
    text-align:center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/plastic-page-header.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .new-page-header-2{
    position: relative;
    margin-bottom: 15px;
    padding: 200px 0 90px 0;
    text-align:center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/image-14.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 
 .new-page-header-3{
    position: relative;
    margin-bottom: 15px;
    padding: 200px 0 90px 0;
    text-align:center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/image-17.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.container-1{
    width: 100%;
    padding-right: auto;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row1{ 
    display: flex;
    flex-wrap: wrap;
    margin-right:15px;
    margin-left: 15px;
}
.new-col-12{
    font-size: 25px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    flex:0 0 100%;
    flex-grow: 0;
    flex-basis: 100%;
}
.h-2-metal{
    text-align: center;
    color:#117a8b;
}
.home{
    color:#117a8b;
}

.page-header h2 {
    position: relative;
    color: #117a8b;
    font-size: 60px;
    font-weight: 100;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -1px;
    right: -7px;
    text-align: center;
    color: #fbaf32;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    margin-bottom: 0px;
}

.section-header p {
    color: #117a8b;
    margin-bottom: 5px;
    position: relative;
    font-size: 35px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 35px;
    font-weight: 000;
    margin-bottom: 10px;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom:30px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 35px;
        font-weight: 600;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 30px;
        font-weight: 600;
    }
}

p#about-header-1{
    margin-bottom: -35px;
}

/*******************************/
/********** About CSS **********/
/*******************************/
div.about-1{
    position: relative;
   margin: auto;
    max-width:1225px;
}
div.about-1 .about-header{
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align:center;
}
div.about-1 .about-text{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

}
.box-start{
    display: flex;
    margin:15px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: justify;
}
.cont{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.cont .box-box-box{

    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;
    padding:40px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.cont .box-box-box:before{
    content:"" ;
    width: 50%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    z-index:2;
}

.cont .box-box-box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    transition: 1s;
}
.cont .box-box-box:nth-child(1) .icon
{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.cont .box-box-box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}
.cont .box-box-box:nth-child(2) .icon
{
    box-shadow: 0 0 0 0 #117a8b;
    background: #117a8b;
}
.cont .box-box-box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #117a8b;
}

.cont .box-box-box:nth-child(3) .icon
{
    box-shadow: 0 0 0 0 #719a0a;
    background: #719a0a;
}
.cont .box-box-box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #719a0a;
}

.cont .box-box-box:nth-child(4) .icon
{
    box-shadow: 0 0 0 0 #0f538b;
    background: #0f538b;
}
.cont .box-box-box:nth-child(4):hover .icon{
    box-shadow: 0 0 0 400px #0f538b;
}
.cont .box-box-box .conte
{
    position: relative;
    z-index: 1;
    transition: 0.5s;
    color:#544c45;

}
.cont .box-box-box:hover .conte
{
  color: #fff;
}

#box-box-box{
    margin-top: 15px;
}

.box-more {
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.conte h2{
    font-size: 27px;
}

#conte-box .read-hover-1{
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0 0 0 0 #e91e63;
    background-color:#e91e63 ;
    border-radius: 5px;
}

#conte-box .read-hover-2{
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0 0 0 0 #117a8b;
    background: #117a8b;
    border-radius: 5px;
}
#conte-box .read-hover-3{
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0 0 0 0 #719a0a;
     background: #719a0a;
    border-radius: 5px;
}

#conte-box .read-hover-4{
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 0 0 0 0 #0f538b;
    background: #0f538b;
    border-radius: 5px;
}
#conte-box #read-hover:hover{
color: #fff;
}





/*******************************/
/*********** Team CSS **********/
/*******************************/
.about-text p.team-member
{
  text-align: center;
  font-size:30px;
  margin-bottom:-30px;
}
 

/*******************************/
/*********** Product CSS **********/
/*******************************/

#index-about-1{
    margin-top: 50px;
}
.icon-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

span.inder-header-letter{
color:#544c45;
font-size:40px;
}

span.index-text-letter{
    color:#544c45;
    font-size: 30px;
}


/*** END Product CSS **********/
/*******************************/
/*******************************/

/*******************************/
/********* Contact CSS *********/
/*******************************/

.contact {
    position: relative;
    width:100%;
    padding: 45px 0 15px 0;
}

.contact .contact-information {
    min-height: 150px;
    margin: 0 0 30px 0;
    padding: 30px 15px 0 15px;
    background:rgb(142 170 175);
}

.contact .contact-info {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact .contact-icon {
    position: relative;
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #117a8b;
    border-radius: 50px;
}

.contact .contact-icon i {
    font-size: 18px;
    color: #ffffff;
}

.contact .contact-text {
    position: relative;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.contact .contact-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: #719a0a;
}

.contact .contact-text p {
    margin: 0;
    font-size: 16px;
    color: #454545;
}

.contact .contact-social a {
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
}

.contact .contact-social a:hover {
    color: #719a0a;
}

.contact .contact-form iframe {
    width: 100%;
    height: 380px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.contact .contact-form input {
    padding: 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .contact-form textarea {
    height: 150px;
    padding: 8px 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background:#117a8b;
    padding-bottom: 30px;
}
#background-footer{
    background:#696767;
    margin-bottom:0px;
    margin-top: 20px;
    
}
div.container{
    background:white;
}
.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #000000;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    color:rgb(0, 0, 0);
}

.footer .footer-contact h2::after,
.footer .footer-link h2::after,
.footer .footer-newsletter h2::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #719a0a;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color:rgb(34, 29, 29);
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color:#00e1ff;
}

.footer .footer-link a:hover {
    color:white;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
    color:rgb(147, 241, 204);
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
}

.footer .footer-social a {
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#a3dfe7;
    border-radius: 35px;
    font-size: 16px;
    color:rgb(128, 119, 119);
}

.footer .footer-social a:hover {
    background: #719a0a;
    color: white;
}

.footer .footer-social a:last-child {
    margin: 0;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}
#submit{
    color: white;
    background-color:#188a80;
    border: 2px solid #117a8b;

}
#submit:hover{
    color:black;
    background-color:transparent;

}
.footer .footer-newsletter input {
    height: 60px;
    background: transparent;
    border: 1px solid rgb(230, 212, 173);
    border-radius: 5px;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 700;
}

.footer .copyright {
    position: relative;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: #ffffff;
}

.footer .copyright p {
    margin: 0;
    display: inline-block;
    color: #454545;
}

.footer .copyright p a {
    color:#117a8b;
}

.footer .copyright p a:hover {
    color: #719a0a;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////


                             /* ***************************************************************
                             **************************Start metal image *******************
                             *****************************************************************/

 .container-00

{   flex-wrap:wrap;
    display:flex;
    text-align: justify;
    max-width: 1000px; 
    margin: 30px auto 30px; 
}



.metal-main{
    position: relative;
    max-width:100%;
    text-align:justify;
    margin: 30px ;
    
} 

.letter-high-light
{
    color: #117a8b;
    font-size: 25px;
    
}


.image-repository 
{
max-width: 400px;
margin-left:none;
margin-right: 15px;
margin-right:px;

}

#left
{
float:left;
}

#right
{ float:left;

}

.container-container
{
    margin-bottom:100px; 


}


.H{
    color: #117a8b;
    font-size: 25px;
    font-family: Nunito', sans-serif;
}

.a{
    color: #117a8b;
}

.ferrous
{
    color: #117a8b;
    font-size: 34px;
    margin-top: 30px;
}

#row{
    margin-top: 30px;
    max-width: 1000px;


}

#metal-text-title{
    margin-top: 30px;
}


.box{
    max-width: 1000px;
    position: relative;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;

}

.box-1{
    position: relative;
    padding:5px;
    display: flex;
    flex-wrap:wrap ;

}

.box-1 .img img{
    max-width: 400px;
}

.desc{
    text-align: center;
}
  

/* ////////////////////////////////// */
        /* Frevious- Next-button */

#page-link{
    background-color:#188a89;
    border-color: #545b61;
}
#page-link:hover{
    color: black;
    background-color:#7ee9bc;
}
#page-link-update{
    color:#212529;
    background-color: #6c757d;
    border: 1px solid #545b62;
    
}

#page-link-update:hover {
    color:white;
    background-color:#188a80;
}

#page-item-unabled{
    color: #f8f9fa;
    background-color: #316a73;
    border: transparent;
}
#page-item-unabled:hover{
    color: black;
    background-color: rgb(93, 206, 93);
}

















